@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bodyContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7% 85% 8%;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    }
    
    .bodyContainer header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        grid-area: header;
        background-color: rgba(49, 39, 129, 1);
        list-style-type: none;
        padding-right: 30px;
      
    }
    
  
    
     .navBar {
        display: flex;
        gap: 25px;
        list-style: none;
        
       
    }
    
    .navBar li a {
        text-decoration: none;
        color:#ffffff;
        font-size: 17px;
        font-family:"Open Sans", sans-serif;
       
    
        }
        
        ul {
            background-color: rgba(49, 39, 129, 1);
            list-style-type: none;
            overflow: hidden;
            margin:auto ;
            padding: 1; 
            
        }
        
        
        li a:hover {
        
            color: rgb(24, 138, 245);
            
            
        } 

        /* MAIN */
        .bodyContainer main {
            grid-area: main;
            display: grid;
            grid-template-columns: repeat(5,1fr);
            grid-template-rows: repeat(5,1fr);
}

.mainTienda img{
    width: 100%;
    grid-column: 1/6;
    grid-row: 1/6;
}
        
        /* FOOTER */

        .bodyContainer footer {
            grid-area: footer;
            background-color: #312781;
            text-align: center;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            justify-content: center;
        }
        
        
        
